
.total__wrapper {
   
    margin-top: 20px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 279px;
    height: 43px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--green-light);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.order:hover {
    background: #75c98b;
}
.order:focus {
    outline: none;
}
