.product__details__container {
    /* background: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 103px;
    right: 103px;
    top: 100px;
    bottom: 20px;
    color: var(--black);
}

.product__list__images {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product__list__images > img {
    width: 150.65px;
    height: 87.61px;
    margin-bottom: 20px;
    object-fit: contain;
    cursor: pointer;
}
.product__list__images > img:hover {
    border: 3px solid var(--green-light);
}
.product__image {
    /* background: green; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 16px;
}

.product__image > img {
    object-fit: contain;
    height: 559.59px;
    width: 572px;
} 

.product__details {
    width: 389px;
    height: 100%;
    /* background: pink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.product__brand__name {
    width: 292px;
}

.name {
    font-weight: 400;
}
.brand {
    font-weight: 600;
    margin-bottom: 5px;
}

.product__size {
    width: 292px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.btn__size {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;

    
}

.btn {
    width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    color: var(--black);
    cursor: pointer;
    transition-duration: 0.4s;
    background: var(--white);
}


.btn:hover , .btn:active, .btn:focus {
    background-color: #1D1F22;
    color: var(--white);
    outline: none;
}


/* .btn__color {
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    width: 32px;
    height: 32px;
    background: #0F6450;
    cursor: pointer;
    border: none;
}
.button:focus {
    outline: none;
} */

/* .product__color {
    width: 292px;
    height: 72px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
} */

.product__price {
    width: 292px;
    height: 72px;
}
.product__price > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.product__price > h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    margin-top: 10px;
}

.add__to__basket__btn {
    width: 292px;
    height: 52px;
    padding: 16px 32px;
    background: var(--green);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.add__to__basket__btn:focus {
    outline: none;
}
.add__to__basket__btn:hover {
    background: var(--green-light);
}

.product__discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 292px;
    height: 103px;
}