.shoppingbag__container {
    width: 100px;
    /* background: red; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.currencies {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    border: none;
    width: 39px;
    height: 29px;
    cursor: pointer;
}
.currencies:focus {
    outline: none;
    background: #EEEEEE;
    border: none;
}

.counter {
    position: relative;
    left: -12px;
    top: -10px;
    background: black;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
  
    justify-content: center;

}
.option:focus {
    background-color: #EEEEEE;
    border: none;
    outline: none;
} 


.bag {
    width: 20px;
    height: 13.01px;
    cursor: pointer;
}

.expand__box {
    background-color: white;
    width: 325px;
    height: 677px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 47px;
    right: 10px;
    padding: 32px 16px;
    gap: 32px;
    flex-direction: column;
}