@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
  --balck: #1D1F22;
  --white: #FFFFFF;
  --green: #5ECE7B;
  --green-light: #76d890;
  
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 0;
}
